@font-face {
  font-family: 'icomoon';
  src:  url('icomoon.eot?szwx6g');
  src:  url('icomoon.eot?szwx6g#iefix') format('embedded-opentype'),
    url('icomoon.ttf?szwx6g') format('truetype'),
    url('icomoon.woff?szwx6g') format('woff'),
    url('icomoon.svg?szwx6g#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Cancel:before {
  content: "\e900";
}
.icon-Close:before {
  content: "\e901";
}
.icon-Facebook:before {
  content: "\e902";
}
.icon-Kakao:before {
  content: "\e903";
}
.icon-Keyboard-Arrow---Left:before {
  content: "\e904";
}
.icon-Keyboard-Arrow---Right:before {
  content: "\e905";
}
.icon-Menu:before {
  content: "\e906";
}
.icon-Search:before {
  content: "\e907";
}
.icon-Story:before {
  content: "\e908";
}
.icon-Twitter:before {
  content: "\e909";
}
